---
import About from '../sections/About.astro';
import Landing from '../sections/Landing.astro';
import Projects from '../sections/Projects.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Paweł Kromołowski - Portfolio'>
  <main>
    <Landing />
    <About />
    <Projects />
  </main>
</Layout>
