---
import Landing from '../components/Landing.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Paweł Kromołowski - Portfolio'>
  <main>
    <Landing />
  </main>
</Layout>

<style lang='scss'></style>
