---
---

<section class='about'>
  <img src='/about.svg' class='about__image' />
  <div>
    <h2 class='about__header'>About</h2>
    <p class='about__text'>
      Front-end developer. <br />
      Creating visually appealing and user-friendly interfaces. <br />
      Collaborative and up-to-date with industry trends. <br />
      Dedicated to delivering engaging digital experiences.
    </p>
    <h3 class='about__header-secondary'>Experience</h3>
    <div class='about__experience'>
      <p class='about__experience__date'>02/23 - now</p>
      <div class='about__experience__circle'></div>
      <div class='about__experience__place'>
        <p class='about__experience__place__firm'>Digis</p>
        <p class='about__experience__place__role'>Front-end Developer</p>
      </div>
    </div>
  </div>
</section>

<style lang='scss'>
  @use '../styles/mixins' as *;

  .about {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__header {
      font-size: 48px;
      font-weight: 700;
      width: fit-content;
      font-family: 'Syne Variable';
      background-color: #00c5ff;
      background-image: linear-gradient(130deg, #00c5ff, #e4acff);
      background-size: 100%;
      background-repeat: repeat;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;

      @include desktopM {
        font-size: 40px;
      }

      @include mobile {
        font-size: 30px;
      }
    }

    &__text {
      font-size: 20px;
      color: #fff;
      margin: 20px 0 40px 0;

      @include tablet {
        font-size: 18px;
      }

      @include mobile {
        font-size: 16px;
      }
    }

    &__header-secondary {
      color: #e4acff;
      font-size: 20px;
      margin-bottom: 15px;
      font-family: 'Syne Variable';

      @include mobile {
        font-size: 18px;
      }
    }

    &__experience {
      display: flex;
      align-items: center;
      gap: 10px;

      &__date {
        color: #5c5c5c;
        font-size: 12px;
        font-weight: 500;

        @include mobile {
          font-size: 10px;
        }
      }

      &__circle {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #fff;

        @include mobile {
          width: 6px;
          height: 6px;
        }
      }

      &__place {
        &__firm {
          font-weight: 500;
          font-family: 'Syne Variable';
          color: #00c5ff;

          @include mobile {
            font-size: 15px;
          }
        }

        &__role {
          font-size: 12px;
          color: var(--secondary);

          @include mobile {
            font-size: 11px;
          }
        }
      }
    }

    &__image {
      height: 370px;

      @include tablet {
        height: 300px;
      }

      @include tabletS {
        height: 250px;
        margin: 50px 0 0 0;
        order: 2;
      }
    }

    @include tabletS {
      flex-direction: column;
    }
  }
</style>
