<section class='contact' id='contact'>
  <img src='/contact.svg' alt='contact blob' class='contact__image' />
  <div class='contact__container'>
    <h2 class='contact__container__header'>Keep in touch</h2>
    <div class='contact__container__buttons-wrapper'>
      <a
        href='mailto:pawelkrml@gmail.com'
        class='contact__container__buttons-wrapper__mail'>Contact Me</a
      >
      <a
        href='https://github.com/cateruu'
        target='_blank'
        class='contact__container__buttons-wrapper__icon'
      >
        <img src='/icons/github.svg' alt='github logo' />
      </a>
      <a
        href='https://www.linkedin.com/in/pawelkrml/'
        target='_blank'
        class='contact__container__buttons-wrapper__icon'
      >
        <img src='/icons/linkedin.svg' alt='linkedin logo' />
      </a>
    </div>
  </div>
</section>

<style lang='scss'>
  @use '../styles/mixins' as *;

  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    margin-bottom: 150px;

    &__image {
      width: 335px;
    }

    &__container {
      &__header {
        font-size: 48px;
        font-weight: 700;
        color: var(--main);
        font-family: 'Syne Variable';
        margin-bottom: 30px;
        background-color: #00c5ff;
        background-image: linear-gradient(130deg, #9bf8df, #e4acff);
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;

        @include desktopM {
          font-size: 40px;
        }

        @include mobile {
          font-size: 30px;
        }
      }

      &__buttons-wrapper {
        display: flex;
        gap: 10px;

        &__mail {
          height: 44px;
          background-color: #9df6e0;
          color: #000;
          display: grid;
          place-items: center;
          border-radius: 100px;
          flex-grow: 1;
          margin-right: 15px;
          font-weight: 500;

          @include mobile {
            font-size: 14px;
            margin-right: 0;
          }
        }

        &__icon {
          display: grid;
          place-items: center;
          width: 44px;
          height: 44px;
          background-color: #f3e3ff;
          border-radius: 50%;
        }
      }
    }

    @include tabletS {
      gap: 60px;
    }

    @include mobileL {
      flex-direction: column;
    }
  }
</style>
