---
---

<section class='experience' id='experience'>
  <h2 class='experience__header'>Experience</h2>
  <div class='experience__wrapper'>
    <img
      src='/experience/pingiland.png'
      alt='PingiLand logo'
      class='experience__wrapper__img'
    />
    <div class='experience__wrapper__content'>
      <h3>Owner, Full-stack Developer</h3>
      <div class='experience__wrapper__content__info'>
        <p class='experience__wrapper__content__info__company'>PingiLand</p>
        <p>02/2024</p>
        <div class='experience__wrapper__content__info__dot'></div>
        <p>now</p>
      </div>
      <div class='experience__wrapper__content__stack'>
        <p class='experience__wrapper__content__stack__back'>Go</p>
        <p class='experience__wrapper__content__stack__back'>PostgreSQL</p>
        <p class='experience__wrapper__content__stack__front'>React</p>
        <p class='experience__wrapper__content__stack__front'>TypeScript</p>
        <p class='experience__wrapper__content__stack__front'>Tailwind</p>
      </div>
      <ul class='experience__wrapper__content__list'>
        <li>
          Built an application allowing users to create custom overlays for
          their Twitch broadcasts and attracted users from all around the world
          to utilize the platform.
        </li>
        <li>
          Utilized Go and PostgreSQL to handle backend operations, integrating
          with Twitch API and Twitch IRC for real-time updates and data
          management.
        </li>
        <li>
          Leveraged React with Vite for the front-end, using Tailwind CSS with
          shadcn for styling, and Tanstack utilities such as React Query,
          Tanstack Router, and Tanstack Table for state management, routing, and
          data handling.
        </li>
      </ul>
    </div>
  </div>
  <div class='experience__wrapper'>
    <img
      src='/experience/digis_logo.png'
      alt='Digis logo'
      class='experience__wrapper__img'
    />
    <div class='experience__wrapper__content'>
      <h3>Front-end Developer</h3>
      <div class='experience__wrapper__content__info'>
        <p class='experience__wrapper__content__info__company'>Digis</p>
        <p>02/2023</p>
        <div class='experience__wrapper__content__info__dot'></div>
        <p>now</p>
      </div>
      <div class='experience__wrapper__content__stack'>
        <p class='experience__wrapper__content__stack__front'>NextJS</p>
        <p class='experience__wrapper__content__stack__front'>React</p>
        <p class='experience__wrapper__content__stack__front'>TypeScript</p>
        <p class='experience__wrapper__content__stack__front'>Stencil</p>
        <p class='experience__wrapper__content__stack__front'>Redux</p>
      </div>
      <ul class='experience__wrapper__content__list'>
        <li>
          Worked closely with a US-based client to understand their needs and
          deliver tailored solutions.
        </li>
        <li>
          Contributed to increasing the project's development speed, ensuring
          timely delivery and improved project outcomes.
        </li>
        <li>
          Developed multiple front-end projects using React and NextJS, and
          crafted reusable web components with Stencil.
        </li>
      </ul>
    </div>
  </div>
</section>

<style lang='scss'>
  @use '../styles/mixins' as *;

  .experience {
    margin-top: 120px;
    display: flex;
    flex-direction: column;

    &__header {
      font-size: 48px;
      font-weight: 700;
      width: fit-content;
      font-family: 'Syne Variable', sans-serif;
      background-color: #00c5ff;
      background-image: linear-gradient(130deg, #e4acff 50%, #612eae);
      background-size: 100%;
      background-repeat: repeat;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
      margin-bottom: 24px;

      @include desktopM {
        font-size: 40px;
      }

      @include mobile {
        font-size: 30px;
      }
    }

    &__wrapper {
      width: 100%;
      display: flex;
      margin-bottom: 20px;

      &__img {
        width: 44px;
        height: fit-content;
      }

      &__content {
        color: #fff;
        margin-left: 15px;

        &__info {
          display: flex;
          align-items: center;
          font-size: 12px;
          margin-top: 4px;
          font-family: 'Syne Variable', sans-serif;

          &__company {
            font-size: 14px;
            margin-right: 24px;
          }

          &__dot {
            width: 3px;
            height: 3px;
            background-color: #00c5ff;
            margin: 0 5px;
            border-radius: 50%;
          }
        }

        &__stack {
          display: flex;
          align-items: center;
          gap: 10px;
          margin: 4px 0 8px 0;
          font-size: 14px;

          &__back {
            color: #3ecf8e;
          }

          &__front {
            color: #77adff;
          }
        }

        &__list {
          & li {
            margin-bottom: 4px;
          }
        }
      }
    }

    @include mobileL {
      margin-top: 80px;
    }
  }
</style>
