<footer class='footer'>
  <p>&copy; 2023, Paweł Kromołowski</p>
  <p>
    Images by <a
      href='https://www.rawpixel.com/'
      target='_blank'
      class='footer__link'>Rawpixel</a
    >
  </p>
</footer>

<style lang='scss'>
  @use '../styles/mixins' as *;

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: var(--blue);
    margin-bottom: 20px;

    &__link {
      color: #fff;
    }

    @include mobileL {
      font-size: 12px;
    }
  }
</style>
