---
import Link from '../components/Link.astro';
---

<section class='landing'>
  <div class='landing__text'>
    <p class='landing__text__name'>Paweł Kromołowski</p>
    <p class='landing__text__desc'>
      Self-taught <br />Front-end Developer <br />Creating Captivating <br />Web
      Experiences
    </p>
    <div class='landing__text__buttons-wrapper'>
      <Link text='Projects' color='#00AFB9' href='#projects' />
      <Link text='Contact Me' color='#fff' href='#contact' />
    </div>
  </div>
  <img src='/landing.svg' class='landing__image' />
</section>

<style lang='scss'>
  @use '../styles/mixins' as *;

  .landing {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__text {
      &__name {
        font-family: 'Syne Variable';
        font-size: 24px;
        color: #fff;
        margin-bottom: 15px;

        @include tablet {
          font-size: 22px;
        }

        @include tabletS {
          margin-top: 30px;
          font-size: 20px;
        }
      }

      &__desc {
        font-family: 'Syne Variable';
        font-size: 60px;
        color: var(--main);
        font-weight: 700;

        @include desktopM {
          font-size: 54px;
        }

        @include tablet {
          font-size: 48px;
        }

        @include tabletS {
          font-size: 40px;
        }

        @include mobile {
          font-size: 25px;
        }
      }

      &__buttons-wrapper {
        margin-top: 50px;
        display: flex;
        gap: 15px;
        font-weight: 500;

        @include tabletS {
          margin: 30px 0 60px 0;
        }

        @include mobile {
          margin: 20px 0 40px 0;
        }
      }

      @include mobile {
        text-align: center;
      }
    }

    &__image {
      height: 670px;

      @include desktopM {
        height: 500px;
      }

      @include tablet {
        height: 450px;
        transform: rotate(15deg);
      }

      @include tabletS {
        transform: rotate(30deg);
      }

      @include mobile {
        height: 300px;
        transform: rotate(25deg);
      }
    }

    @include desktopM {
      margin-bottom: 120px;
    }

    @include tabletS {
      flex-direction: column;
      justify-content: center;
    }

    @include mobileL {
      margin-bottom: 0;
    }
  }
</style>
