---
import Project from '../components/Project.astro';
import { projects } from '../data/projects';
---

<section class='projects'>
  {
    projects.map((project) => (
      <Project
        title={project.title}
        subTitle={project.subTitle}
        icon={project.icon}
        href={project.link}
      />
    ))
  }
  <img src='/devider.svg' class='devider' />
</section>

<style lang='scss'>
  .projects {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 120px;
  }

  .devider {
    width: 450px;
    transform: rotate(60deg);
    margin-top: -60px;
    align-self: center;
  }
</style>
